@model gdbcLeaderBoard.Models.HomeViewModels.ScoreOverviewViewModel

<div class="row">
    <h2 class="lbtitle">Team scores</h2>
    <ul class="lb">
        @for (int i = 0; i < Model.TeamScores.Count; i++)
        {
            <li class="lbitem">
                <div class="lbrank">@(i+1)</div>
                <div class="lbscore">@Model.TeamScores[i].Score</div>
                <div class="lbteam">@Model.TeamScores[i].Team </div>
                <div class="lbvenue">@Model.TeamScores[i].Venue</div>               
            </li>
        }
    </ul>
</div>

<div class="row">
    <h2 class="lbtitle">Venue scores</h2>
    <ul class="lb">
        @for (int i = 0; i < Model.VenueScores.Count; i++)
        {
            <li class="lbitem">
                <div class="lbrank">@(i+1)</div>
                <div class="lbscore">@Model.VenueScores[i].Score</div>
                <div class="lbteam">@Model.VenueScores[i].Venue </div>  
            </li>
        }
    </ul>
</div>
