@model gdbcLeaderBoard.Models.HomeViewModels.TeamOverviewViewModel

@{ 
    var selectedVenue = Model.Venues.FirstOrDefault(item => item.Name == Model.Name);
    var title = $"Team scores{(selectedVenue == null ? "" : $" for '{selectedVenue?.Name}'")}";
    ViewData["Title"] = title;
}

<div class="row">
    <h2 class="lbtitle">@title</h2>
    @using (Html.BeginForm("Teams", "Home", FormMethod.Get, new { id = "VenueForm" })){

    @Html.DropDownListFor(m => m.Id, Model.VenueItems,"Select your venue",new{
          onchange = "document.getElementById('VenueForm').submit();"
       })
    }
    <br />
    <ul class="lb">
        @for (int i = 0; i < Model.TeamScores.Count; i++)
        {
            var venue = selectedVenue == null ? $"({Model.TeamScores[i].Venue})" : "";

        <li class="lbitem">
            <div class="lbrank">@(i + 1)</div>
            <div class="lbscore">@Model.TeamScores[i].Score</div>
            <div class="lbteam">
                <div class="row">
                    <div class="col-sm-6">@Model.TeamScores[i].Team <span class="lbvenue">@venue</span></div>
                    <div class="col-sm-2">Done: @Model.TeamScores[i].DoneCount</div>
                    <div class="col-sm-2">Committed: @Model.TeamScores[i].CommitedCount</div>
                    <div class="col-sm-2">Approved: @Model.TeamScores[i].ApprovedCount</div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>
