@model gdbcLeaderBoard.Models.HomeViewModels.TeamOverviewViewModel

<div class="row">
    <h2 class="lbtitle">Team scores</h2>
    @using (Html.BeginForm("Teams", "Home", FormMethod.Get, new { id = "VenueForm" })){

    @Html.DropDownListFor(m => m.Id, Model.VenueItems,"select your venue",new{
          onchange = "document.getElementById('VenueForm').submit();"
       })
    }

    <ul class="lb">
        @for (int i = 0; i < Model.TeamScores.Count; i++)
        {
        <li class="lbitem">
            <div class="lbrank">@(i + 1)</div>
            <div class="lbscore">@Model.TeamScores[i].Score  </div>
            <div class="lbteam">@Model.TeamScores[i].Team   <span style="font-size:10px">(Done: @Model.TeamScores[i].DoneCount, In progress: @Model.TeamScores[i].InProgressCount)</span></div>
            <div class="lbvenue">@Model.TeamScores[i].Venue</div>
        </li>
        }
    </ul>
</div>
